/composer.phar
/node_modules/*
/res/local/*
!/res/local/*.dist
/res/vendor/*
#/res/vendor/**/*.*
#!/res/vendor/**/dist/**
#!/res/vendor/**/lib/**
/var/cache/**
!/var/cache/**/
/var/logs/*
/vendor/*
/web/.htaccess
/web/*.log
!.gitkeep